* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
}

.name{
    margin: 30px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100vw;
    height: 70px;
    box-shadow: 10px 9px 24px -8px rgba(0,0,0,0.54);
}

.logo{
    height: 100px;
    width: auto;
    background-color: aliceblue;
    border-radius: 0px 0px 70px 0px;
}

.logo img{
    height: 90px;
    width: 250px;
    padding-left: 10px;
}

.navbarui {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: baseline;
    padding: 0px 5px;
}

.navbarui a{
    padding: 18px;
    margin: 0px 23px;
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
}

.content {
    height: 100vh;
    width: 100vw;
    background: url("Home.png");
    background-size: cover;
    display: flex;
}

.section1 {
    display: grid;
    align-content: center;
    justify-items: center;
    width: 40%;
    height: 100%;    
}

    /* .img1{
        height: auto;
    }

    */
    
.img2{
    height:350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
} 
.upcoming{
    margin: 0px 0px 0px 0px;
    height: 50px;
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 9px 24px -8px rgba(0,0,0,0.54);
    margin-top: 10px;
}

.section2{
    display: grid;
    align-content: center;
    justify-items: center;
    height: 100%;
    width: 60%;
}

.format{
    display: block;
    text-align: center;
    height: 500px;
    width: 550px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.54);
}

#ready{
    font-size: 40px;
}

#dream{
    font-size: 40px;
    font-weight: 800;
}

.lines{
    margin-right: 10px;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 80px 80px 80px;
    margin-left:30px;
    margin-top:30px;
}

.paramain{
    display: flex;
    margin-left:34%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.mainbtn1{
    margin-left:39%;
    margin-top:36px;
    background-color: black; 
    color: white;
    cursor: pointer;
    width:140px;
    height:40px;
}

select{ 
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.mainbtn1{
    background-color: black; 
    text-align: center;
    color: white;
    width:180px;
    height:50px;
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 30px ;
    padding:2px;
    font-weight: bold;
    font-size: large;
}

.choosemain{
    height: 50px;
    width: 170px;
    border: none;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);
    border-radius: 30px;
    text-align: center;
}

.formatt{
    display: none; 
    text-align: center;
    height: 500px;
    width: 550px;
    background-color: white;
    border-radius: 80px;
    box-shadow: 0px 8px 70px -8px rgba(0, 0, 0, 0.54);
}

.car-varient{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    margin: 10px 0;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid aqua;
    p{
        font-size: 30px;
    }
}

.car-container{
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.section1.result-active{
    display: none;
}

.section2.result-active{
    display: none;
}